@import url(https://db.onlinewebfonts.com/c/4c19fc875e7ba1e6831129de3ab5ac0b?family=Retro+Gaming);

/* constants */

:root {
--dark-grey-color: #1f1f1f;
}

/* main content */

html {
  font-family: "Retro Gaming";
  background-color: var(--dark-grey-color);
  color: white;
}


body {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}