@import url(https://db.onlinewebfonts.com/c/4c19fc875e7ba1e6831129de3ab5ac0b?family=Retro+Gaming);

/* constants */

:root {
    --dark-grey-color: #1f1f1f;
}

/* main content */

html {
    font-family: "Retro Gaming";
    font-size: 14px;
    background-color: var(--dark-grey-color);
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.main-content {
    position: fixed;
    width: 100%;
    height: 100%;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.input-container {
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 70%;
}

.row {
    display: flex;
    flex-direction: row;
}

label {
    color: beige;
    margin-right: 10px;
}

input {
    /* for safari iphone */
    border-radius: 0;
    font-size: 14px;
    border: none;
    outline: none var(--dark-grey-color);
    background-color: transparent;
    border-bottom: 1px solid beige;
    font-family: "Retro Gaming";
    color: white;
    width: 100%;
}

.error {
    margin-top: 2px;
    color: red;
    font-size: 10px;
}

.form-button {
    color: greenyellow;
    font-weight: lighter;
    cursor: pointer;
    margin-top: 25px;
}

/* responsive */

@media screen and (min-width: 1200px) {

    .form-content {
        width: 50%;
        margin: 15% auto;
    }

}