@import url(https://db.onlinewebfonts.com/c/4c19fc875e7ba1e6831129de3ab5ac0b?family=Retro+Gaming);

/* constants */

:root {

  /* desktop */

  --device-size: 450px;
  /* --device-button-size must be half size of device */
  --device-button-size: 225px;

  --device-display-height: 100px;
  --device-display-width: 220px;
  --device-display-top: 170px;
  /* (--device-size / 2 ) - (--device-display-height / 2) */
  --device-display-left: 115px;
  /* (--device-size / 2 ) - (--device-display-width / 2) */

  /* mobile */

  --device-size-mobile: 300px;
  --device-button-size-mobile: 150px;

  --device-display-height-mobile: 100px;
  --device-display-width-mobile: 200px;
  --device-display-top-mobile: 100px;
  --device-display-left-mobile: 50px;

  --dark-grey-color: #1f1f1f;
}

/* main content */

html {
  font-family: "Retro Gaming";
  background-color: var(--dark-grey-color);
  color: white;
}


body {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

footer {
  padding: 30px;
  font-size: 14px;
}

.footer-copyright {
  border-top: 1px solid white;
  padding: 10px 50px 0px 50px;
}

.footer-menu {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  cursor: pointer;
  font-size: 16px;
}

.footer-menu-item {
  margin-left: 10px;
  margin-right: 10px;
}

/* titles */

h1 {
  font-size: 36px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

h2 {
  font-size: 16px;
  font-weight: lighter;
  color: greenyellow;
  margin-top: 25px;
  margin-right: 8px;
}

h3 {
  font-size: 15px;
  font-weight: lighter;
  color: white;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

h4 {
  margin-bottom: 10px;
}

input {
  /* for safari iphone */
  border-radius: 0;
}

.name-input {
  border: none;
  outline: none var(--dark-grey-color);
  background-color: transparent;
  border-bottom: 1px solid beige;
  font-family: "Retro Gaming";
  font-size: 16px;
  color: greenyellow;
  padding-top: 25px;
  text-transform: uppercase;
  width: 18px;
  min-width: 18px;
}

/* device */

.game-main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.game-device {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 30px;
  border-radius: 50%;
  background-color: #1f1f1f;
  box-shadow: 0px 0px 7px 7px rgba(255, 255, 255, 0.1);
  border: 20px solid black;
  width: var(--device-size-mobile);
  height: var(--device-size-mobile);
}

.game-display {
  position: absolute;
  background: black;
  height: var(--device-display-height-mobile);
  width: var(--device-display-width-mobile);

  border-radius: 5px;
  border-color: black;
  box-sizing: border-box;

  /* position relative to parent */
  top: var(--device-display-top-mobile);
  left: var(--device-display-left-mobile);
}

.game-display-details {
  border-radius: 3px;
  position: absolute;
  background: #1f1f1f;
  margin: 0px 8px 8px 8px;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 3px 0px 7px 0px;
}

.game-button {
  width: var(--device-button-size-mobile);
  height: var(--device-button-size-mobile);
  cursor: pointer;
  border: 10px solid black;
  box-sizing: border-box;
}

.row {
  display: flex;
}

#green {
  background-color: darkgreen;
  border-radius: var(--device-button-size) 0 0 0;
}

#red {
  background-color: darkred;
  border-radius: 0 var(--device-button-size) 0 0;
}

#blue {
  background-color: darkblue;
  border-radius: 0 0 0 var(--device-button-size);
}

#yellow {
  background-color: goldenrod;
  border-radius: 0 0 var(--device-button-size) 0;
}

.start-button {
  font-family: "Retro Gaming";
  color: white;
  cursor: pointer;
  background-color: transparent;
  margin-top: 12px;
}

/* state */

.state {
  font-size: 10px;
  margin-top: 8px;
  color: beige;
}

/* score */

.score-content {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.score {
  font-size: 13px;
  margin-top: 8px;
  color: #4dff00;
  border-radius: 3px;
}

/* sounds div */

.sounds {
  display: none;
}

/* instructions */

.instructions {
  padding: 20px;
  position: initial;
  border: 1px solid white;
  border-radius: 4px;
  margin: 40px;
  width: fit-content;
}

.instructions p {
  margin-bottom: 8px;
  font-weight: lighter;
  font-size: 14px;
}

/* modal */

.modal {
  display: none;
  position: fixed;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  position: relative;
  background-color: var(--dark-grey-color);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  font-size: 14px;
}

#modal-message {
  margin-top: 20px;
}

.modal-close {
  color: greenyellow;
  font-size: 14px;
  font-weight: lighter;
  cursor: pointer;
  margin-top: 25px;
}

/* responsive */

@media screen and (min-width: 1200px) {

  .instructions {
    left: 20px;
    top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    position: absolute;
    width: 200px;
    text-align: left;
  }

}

@media screen and (min-width: 900px) {

  .game-device {
    width: var(--device-size);
    height: var(--device-size);
  }

  .game-button {
    width: var(--device-button-size);
    height: var(--device-button-size);
  }

  .game-display {
    height: var(--device-display-height);
    width: var(--device-display-width);

    top: var(--device-display-top);
    left: var(--device-display-left);
  }

}